[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/home/markus/.local/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/markus
Type=simple
ExecStart=/home/markus/.local/bin/kanata --cfg /home/markus/.config/kanata/config
Restart=no

[Install]
WantedBy=default.target
